html { margin: 0; }
body { margin: 0; background: #00262F; }
pre { background: #eee; padding: 0.4em; border: dotted 1px #ddd; overflow: auto; }
table th { color: #444; background: #eee; }
table td { background: #f4f4f4; }
	table tr.alt td { background: #fff; }

.container .toggle { font-size: 0.7em; float: right; padding: 0 1em; cursor: pointer; color: #777; text-decoration: none; }

.header {
	clear:both;
	padding:1em 0 2em;
	background:#77c244 url('../img/header.png') center top repeat-x;
}

ul.breadcrumb { display: block; margin: 0; padding: 0 20px 1em; overflow: auto; }
	ul.breadcrumb li { display: block; float: left; margin: 0; padding: 0; padding-left: 0.5em; }
	ul.breadcrumb li:before { content: '» '; color: #666666; }
		ul.breadcrumb li a { color: #333; text-decoration: underline; }
			ul.breadcrumb li a:hover { color:#666; }

#footer { padding: 2em 0 1em; background:#00262F; color: #405C63; }
	#footer p { font-size: 0.8em; text-transform: uppercase; }
	#footer .copyright { text-align: right; }
	
	
#kodoc-content {
	border:1px solid #DDDDDD;
	margin-left:20px;
	padding-left:19px;
	margin-right:20px;
	padding-right:19px;
	background:white;
	margin-bottom:20px;
	width:650px;
	float:left;
}
	
#kodoc-content h1 { margin-left: -19px;margin-right:-19px; padding: 0.4em 19px; margin-top: 0;  background: #9CE251;  color: #113C32; }
#kodoc-content h2 { margin-left: -19px;margin-right:-19px; padding: 0.4em 19px; background: #E3EDC4; color:#245B35; }
#kodoc-content h3 { margin-left:-8px; margin-right:-8px; padding: 0.4em 8px; background: #F1F8DB; color:#245B35; }
#kodoc-content h4 { border-bottom:1px solid #ccc; }
#kodoc-content h1 small,
#kodoc-content h2 small,
#kodoc-content h3 small,
#kodoc-content h4 small,
#kodoc-content h5 small,
#kodoc-content h6 small { font-size: 0.9em; font-weight: normal; color: #444; }
#kodoc-content pre { font-size: 1em; line-height: 1.4em; border:1px dashed #24933B; background:#F7F7F7; padding:8px; }
#kodoc-content pre,
#kodoc-content code { color:#186027; }

#kodoc-content div.class-list div.class { width: 50%; }
#kodoc-content div.class-list div.class.left { float: left; clear: both; }
#kodoc-content div.class-list div.class.right { float: right; }
	#kodoc-content div.class-list div.class h2 { margin: 0.4em; padding: 0.2em 0.4em; font-size: 1em; }

#kodoc-content div.toc { margin-bottom: 1em; padding-bottom: 1em; background: #eee; }
	#kodoc-content div.toc ul { margin: 0.6em 1em; padding: 0; list-style: none; }
		#kodoc-content div.toc li { margin: 0; padding: 0; }
	#kodoc-content div.toc h3 { margin: 0; padding: 0.2em 1em; font-size: 1em; color: #eee; background: #111; }
#kodoc-content div.method,
#kodoc-content div.properties,
#kodoc-content div.constants { margin-bottom: 1em; }
	#kodoc-content div.method h3 .param { font-weight: normal; cursor: help; }
	#kodoc-content div.method h3 abbr.param { text-transform: none; font-size: 1em; }
#kodoc-content p.note { display: block; padding: 0.4em 0.6em; background: #eee; color: #444; font-size: 0.9em; border: solid 1px #eee; }
#kodoc-content dl.tags { overflow: auto; background: #eee; padding: 1em; border: solid 6px #ddd; }
	#kodoc-content dl.tags dt { margin: 0 0 0.4em; clear: both; float: left; width: 25%; }
	#kodoc-content dl.tags dd { margin: 0; padding: 0; clear: right; float: right; }
	
#kodoc-menu {
	float:left;
	width:188px;
	margin-bottom:40px;
	border:1px solid #DDDDDD;
	padding-left:10px;
	background:#fff;
}

	#kodoc-menu h3 { font-size: 1.4em; margin: 0; padding: .5em .8em .4em; margin-left:-10px; background:#9CE251; color:#00262F; }
	
	#kodoc-menu p { padding: 0; margin: 0; }
	
	#kodoc-menu li {
		position:relative;
	}
	
	/* Expandable section header */
	#kodoc-menu .section {
		display: block;
		padding: 0.2em 0;
		font-weight: bold;
		color: #00262F;
	}
	
	#kodoc-menu .section .toggler {
		position:absolute;
		top:0;
		left:-14px;
		width:14px;
		height:19px;
		background:transparent url('../img/arrow.png') 0 7px no-repeat;
		cursor:pointer;
	}
	
	#kodoc-menu .section-active .toggler {
		background-position: 0 -13px;
	}
	
	#kodoc-menu ol,
	#kodoc-menu ul,
	#kodoc-menu ul or,
	#kodoc-menu ol ul { margin:0; padding:0;  padding-left: .5em; list-style:none; }
	
	#kodoc-menu>ol,
	#kodoc-menu>ul { padding-top:.6em; padding-bottom:.6em;}
	
	/* List Items */
	#kodoc-menu li { margin: 0; padding: 0; display:block; }
	
#topline {
	position:relative;
	width: 100%;
	min-width:950px;
	height:25px;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color: #00262f;
	color: #F1F8DB;
	text-align:center;
}
	#topline #quicklinks {
		position:relative;
		float:left; /* float:left makes the width of this element the width of its contents */
		left:50%; /* left side of this element will be half way across the page */
		margin:0;
		padding:0;
		list-style-type:none;
	}
		#topline #quicklinks li {
			position:relative;
			float:left;
			left:-50%; /* Move these elements to the left by 50% of the ul's width */
			margin:0;
			padding:6px 10px 6px 11px;
			background:transparent url('../img/topline-divider.png') center left no-repeat;
		}
			#topline #quicklinks li a {
				padding:0;
				margin:0;
				float:left;
				color:#F1F8DB;
				font-weight:bold;
				text-decoration: none;
				height:13px;
				font-size:13px; /* I know using px is bad form, but this is just so its consistent wherever its used, it also means this bar won't resize in old browsers, which is actually kinda nice */
			}
		/* Kohana logo in the top bar */
		#topline #quicklinks li.first {
			padding-top:7px;
			padding-bottom:5px;
			background:none;
		}
			#topline #quicklinks li.first a { width:59px; height:13px; background: transparent url('../img/kohana-small.png') 0 0 no-repeat; }
			#topline #quicklinks li.first.active a,
			#topline #quicklinks li.first a:hover { background-position:0 -20px; }

		#topline #quicklinks li.active a {
			color:#ED900E;
		}

			#topline #quicklinks li a:hover {
				color:#ED900E;
			}
